@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
@font-face {
  font-display: swap;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../src/assets/fonts/rubik-v28-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: url("../src/assets/fonts/rubik-v28-latin-500.woff2") format("woff2");
}
body {
  font-family: "Rubik";
}
.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 20px;
}
.site__header{
  background-image: url('./assets/images/header-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.header__link-hot{
  position: relative;
}
.header__link-hot::after{
 content: "HOT";
 background-color: #E7462D;
 font-size: 10px;
 font-weight: 700;
 border-radius: 8px;
 padding: 0 10px;
 color: white;
 position: absolute;
 top: -23px;
 right: -20px;
}

/* Site Main */
#category-box:hover {
  background-image: url('./assets/images/category-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform-origin: top center;
  transform: scaleY(1.1);
}
#trending-box:hover {
  background-image: url('./assets/images/category-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
